.calm-opear-container {
    padding-bottom: 10px;
    line-height: 0;
    display: flex;
    .calm-operation-btnBox + .calm-operation-btnBox {
        margin-left: 10px;
    }
}

.calm-editableInput {
    width: 100%;
    line-height: 1.5em;
}

.calm-BiuTable-operation {
    color: #409eff;
    font-size: 24px;
    i {
        margin: 0 3px;
        cursor: pointer;
    }
}

.calm-BiuTable-tableOperate {
    color: #409eff;
    font-size: 17px;
    i {
        margin: 0 7px;
        cursor: pointer;
    }
    .disabled {
        color: #c0c4cc;
        cursor: not-allowed;
    }
}

.calm-BiuTable-required {
    color: #f56c6c;
}
