*
    margin: 0
    padding: 0
    box-sizing: border-box

.theme-default-content:not(.custom) > h4 
    margin-bottom: 15px
    margin-top: -1.5rem

.el-notification__title
    border-bottom: 0px

.el-date-table,
.el-year-table,
.el-month-table
    display: table
    margin: 0
    tr
        background-color: transparent
        border-top: 0
    th, td
        border: 0

pre[class*="language-"]
    color: red
    ::-webkit-scrollbar
        width: 6px
        height: 6px
    ::-webkit-scrollbar-track 
        width: 6px
        background: rgba(#101F1C, 0.1)
        -webkit-border-radius: 2em
        -moz-border-radius: 2em
        border-radius: 2em
    ::-webkit-scrollbar-thumb 
        background-color: rgba(#101F1C, 0.5)
        background-clip: padding-box
        min-height: 28px
        -webkit-border-radius: 2em
        -moz-border-radius: 2em
        border-radius: 2em
    ::-webkit-scrollbar-thumb:hover 
        background-color: rgba(#101F1C, 1)

a > span
    display: none

.theme-default-content:not(.custom)
    max-width: 840px

.custom-table-td code
    padding: 0.25rem 0rem
