.theme-default-content:not(.custom) > h4 
    margin-bottom: 15px
    margin-top: -1.5rem

.el-notification__title
    border-bottom: 0px

.el-date-table
    display: table
    margin: 0;
    tr
        background-color: transparent
        border-top: 0;
    th, td
        border: 0;
