//覆盖一些element-ui样式

.el-breadcrumb__inner,
.el-breadcrumb__inner a {
    font-weight: 400 !important;
}

.el-upload {
    input[type='file'] {
        display: none !important;
    }
}

.el-upload__input {
    display: none;
}

.cell {
    .el-tag {
        margin-right: 0;
    }
}

.small-padding {
    .cell {
        padding-right: 5px;
        padding-left: 5px;
    }
}

.fixed-width {
    .el-button--mini {
        width: 60px;
        padding: 7px 10px;
    }
}

.status-col {
    .cell {
        padding: 0 10px;
        text-align: center;
        .el-tag {
            margin-right: 0;
        }
    }
}

//暂时性解决dialog 问题 https://github.com/ElemeFE/element/issues/2461
.el-dialog {
    position: relative;
    left: 0;
    margin: 0 auto;
    transform: none;
}

//文章页textarea修改样式
.article-textarea {
    textarea {
        padding-right: 40px;
        border: none;
        border-bottom: 1px solid #bfcbd9;
        border-radius: 0;
        resize: none;
    }
}

//element ui upload
.upload-container {
    .el-upload {
        width: 100%;
        .el-upload-dragger {
            width: 100%;
            height: 200px;
        }
    }
}

//dropdown
.el-dropdown-menu {
    a {
        display: block;
    }
}
// 表格样式调整
.el-table th {
    line-height: 20px;
    background-color: #fafafa;
}
.el-table--border,
.el-table--group {
    border: 1px solid #f0f0f0;
}
.el-table td,
.el-table th.is-leaf {
    border-bottom: 1px solid #f0f0f0;
}
.el-table--border td,
.el-table--border th,
.el-table__body-wrapper .el-table--border.is-scrolling-left ~ .el-table__fixed {
    border-right: 1px solid #f0f0f0;
}

.el-table .cell {
    line-height: 28px;
}
.el-button--primary.is-plain {
    color: #409eff;
    background: #fff;
    border-color: #b3d8ff;
}
.el-button--primary.is-plain:focus,
.el-button--primary.is-plain:hover {
    color: #fff;
    background: #409eff;
    border-color: #409eff;
}
.el-button--primary.is-plain:active {
    color: #fff;
    background: #3a8ee6;
    border-color: #3a8ee6;
}

.view-table {
    padding: 10px 16px !important;
}

.el-table--mini td {
    padding: 3px 0;
}
.el-table--mini th {
    padding: 1px 0 0;
}

// 解决mini时div高度比inpu高1px的问题
// .el-form-item--mini .el-form-item__content,
// .el-form-item--mini .el-form-item__label {
// height: 28px;
// }

// 解决侧边栏收起切换时会有个弹出层
// .el-menu--vertical {
//     display: none;
// }

// 日期范围选择, 中间的 至 字最小宽度
.el-date-editor .el-range-separator {
    min-width: 22px;
}

// // 表单的必填 *
// .el-col {
//     position: relative;
// }
// // prettier-ignore
// .el-form-item.is-required:not(.is-no-asterisk)
// .el-form-item__label-wrap
// > .el-form-item__label::before,
// .el-form-item.is-required:not(.is-no-asterisk) > .el-form-item__label::before {
//     position: absolute;
//     left: -2px;
// }

// 表单验证提示语 去掉定位
.el-form-item__error {
    position: static;
}
// 错误提示强制换行
.el-notification {
    word-break: break-all;
}
// 禁用输入框颜色正常颜色
.el-input.is-disabled .el-input__inner {
    color: #606266;
}
// tooltip 限制宽度
.el-tooltip__popper {
    max-width: 50vw;
}
// 下拉框 inline元素的3px间距消除
.el-select.el-select--mini > .el-input {
    font-size: 0;
    .el-input__inner {
        font-size: 12px;
    }
}
// 表格 fixed列遮住了横向滚动条
// .el-table__fixed,
// .el-table__fixed-right {
//     bottom: 16px;
//     height: auto !important;
// }
// .el-table__footer-wrapper {
//     position: absolute;
//     bottom: 0;
// }

// 省市区选择限高
.el-cascader-menu {
    max-height: 270px;
}

// notify消息限高
.el-notification__content {
    max-height: 400px;
    overflow: auto;

    /* 滚动条样式 */
    &::-webkit-scrollbar {
        width: 4px;
    }
    &::-webkit-scrollbar-thumb {
        background: rgba(0, 0, 0, 0.2);
        border-radius: 10px;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
    &::-webkit-scrollbar-track {
        background: rgba(0, 0, 0, 0.1);
        border-radius: 0;
        box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.2);
    }
}

@for $i from 25 through 100 {
    .el-col-#{$i} {
        width: 100%;
    }
}

.el-tooltip__popper.is-dark div {
    color: #fff;
}
