.calm-BiuDialog {
    .el-dialog__header {
        padding: 15px 20px 10px;
    }
    .el-dialog__body {
        padding: 0 20px;
    }
    .el-dialog__footer {
        padding: 10px 20px 15px;
    }
}
