.calm-BiuForm {
    .horizontal {
        .el-form-item--mini.el-form-item,
        .el-form-item--small.el-form-item {
            display: flex;
            margin-bottom: 0;
        }
        .el-form-item__content {
            flex: 1;
            width: 1px;
            margin-left: 0 !important;
            // overflow: hidden;
            // white-space: nowrap;
            // text-overflow: ellipsis;
        }
    }
    .vertical {
        .el-form-item--mini.el-form-item,
        .el-form-item--small.el-form-item {
            margin-bottom: 8px;
        }
    }

    .el-form {
        padding: 10px;
    }
    .el-form-item__label {
        min-width: 68px;

        /** 固定label宽度则改这里 */
        // width: 100px;
        max-width: 124px; // 最多6个字
        overflow: hidden;
        font-weight: 400;
        white-space: nowrap;
        text-overflow: ellipsis;
    }
    .calm-rightFloat {
        float: right;
        margin-top: 10px;
    }
    .calm-operation {
        display: flex;
        align-items: center;
        color: #1890ff;
        font-size: 14px;
    }
    .calm-operation > div {
        flex: 1;
        padding-left: 10px;
        text-align: left;
        cursor: pointer;
    }
    .calm-gutter {
        margin-top: 10px;
    }

    /** 栅格 */
    .el-col.el-col-4\.8 {
        width: 20%;
    }
    .el-col.el-col-9\.6 {
        width: 40%;
    }
    .el-col.el-col-14\.4 {
        width: 60%;
    }
    .el-col.el-col-19\.2 {
        width: 80%;
    }
}

.el-dialog .vertical .calm-BiuForm .el-form {
    padding: 18px 0;
}
