<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>柱状图</title>
        <style>
            * {
                box-sizing: border-box;
                margin: 0;
                padding: 0;
            }
            [v-cloak] {
                display: none !important;
            }
            .container {
                width: 450px;
                height: 300px;
                background-color: #0f0c46;
            }
        </style>
    </head>
    <body>
        <div id="app" v-cloak>
            <div
                class="container"
                ref="line"
                @mouseenter="mouseenter"
                @mouseleave="mouseleave"
            ></div>
        </div>
        <!-- echarts@5 -->
        <script src="https://unpkg.com/echarts@5/dist/echarts.min.js"></script>
        <!-- vue -->
        <script src="https://unpkg.com/vue@2.6.14/dist/vue.min.js"></script>
        <!-- dayjs -->
        <script src="https://unpkg.com/dayjs@1.11.5/dayjs.min.js"></script>
        <!-- lodash -->
        <script src="https://unpkg.com/lodash@1.0.0/dist/lodash.min.js"></script>
        <script>
            var vm = new Vue({
                el: '#app',
                data() {
                    return {
                        data: [], // 数据
                        timer: null, // 定时器
                        start: 0, // 横轴滚动开始位置
                        delay: 3 * 1000 // 3秒滚动一次
                    }
                },
                created() {
                    this.mouseenter = _.debounce(this.mouseoverBack, 300)
                    this.mouseleave = _.debounce(this.autoMove, 300)
                },
                mounted() {
                    this.mockData()
                },
                methods: {
                    mockData() {
                        let List = []
                        let oneDay = 1000 * 60 * 60 * 24
                        let arr = new Array(32).fill('')
                        arr.forEach((item, index) => {
                            List.push({
                                DateOrMouth: dayjs(
                                    Date.now() - (29 - index) * oneDay
                                ).format('MM月DD日'),
                                BoxNum: Math.ceil(Math.random() * 9999),
                                SignNum: Math.ceil(Math.random() * 5555)
                            })
                        })
                        this.data = List
                        this.draw()
                    },
                    // 绘制折线图
                    draw() {
                        // 一段的宽度： = 柱子的宽度+两个柱子之间的间距
                        var length =
                            (this.$refs.line.offsetWidth /
                                (this.data.length * 40)) *
                            100

                        this.maxStart = Math.ceil(100 / length) // 分多少次显示,用于自动滚动判断最大值

                        this.chart = echarts.init(this.$refs.line)
                        this.chart.setOption({
                            // 鼠标悬浮的提示
                            tooltip: {
                                trigger: 'axis',
                                axisPointer: {
                                    // 坐标轴指示器，坐标轴触发有效
                                    type: 'line' // 默认为直线，可选为：'line' | 'shadow'
                                }
                            },
                            // x轴
                            xAxis: {
                                type: 'category',
                                axisTick: {
                                    show: true,
                                    alignWithLabel: true, // 文字与刻度线对齐
                                    interval: 0 // 强制显示所有标签
                                },
                                axisLabel: {
                                    color: '#fff',
                                    fontSize: 13,
                                    interval: 0, // 强制显示所有文字
                                    width: 30, // 给个宽度，超过宽度就换行
                                    overflow: 'breakAll', // 文字强制换行
                                },
                                // 坐标轴在grid中的分割线
                                splitLine: {
                                    show: true,
                                    interval: 0,
                                    lineStyle: {
                                        color: '#0e1c5b'
                                    }
                                },
                                data: this.data.map((item) => {
                                    return item.DateOrMouth
                                })
                            },
                            // y轴
                            yAxis: {
                                name: '单位: MW',
                                nameTextStyle: {
                                    fontSize: 13,
                                    color: '#fff'
                                },
                                type: 'value',
                                axisLabel: {
                                    color: '#fff',
                                    fontSize: 13
                                },
                                /** 次刻度线，使背景看起来有网格start */
                                minorTick: {
                                    splitNumber: 3 // 次刻度线
                                },
                                minorSplitLine: {
                                    show: true,
                                    lineStyle: {
                                        color: '#0e1c5b'
                                    }
                                },
                                /** 次刻度线，使背景看起来有网格end */
                                // 坐标轴轴线
                                axisLine: {
                                    show: true
                                },
                                // 坐标轴在grid中的分割线
                                splitLine: {
                                    show: true,
                                    lineStyle: {
                                        color: '#0e1c5b'
                                    }
                                }
                            },
                            // 上下左右的间距，类似padding
                            grid: {
                                left: '60',
                                top: 40,
                                right: 0,
                                bottom: length >= 100 ? 35 : 65
                            },
                            dataZoom: [
                                {
                                    type: 'slider',
                                    show: length >= 100 ? false : true, // flase直接隐藏图形
                                    xAxisIndex: [0],
                                    left: '5%', // 滚动条靠左侧的百分比
                                    right: '5%',
                                    bottom: 10,
                                    height: 12,
                                    zoomLock: true,
                                    brushSelect: false,
                                    showDetail: false,
                                    start: this.start * length, // 滚动条的起始位置
                                    end: (this.start + 1) * length // 滚动条的截止位置（按比例分割你的柱状图x轴长度）
                                }
                            ],
                            series: [
                                {
                                    type: 'bar',
                                    animation: true,
                                    data: this.data.map((item) => {
                                        return item.BoxNum
                                    }),
                                    barWidth: 12,
                                    barCategoryGap: 12,
                                    itemStyle: {
                                        borderRadius: [100, 100, 0, 0],
                                        color: {
                                            type: 'linear',
                                            x: 0,
                                            y: 1,
                                            x2: 0,
                                            y2: 0,
                                            colorStops: [
                                                {
                                                    offset: 0,
                                                    color: '#2e77bb' // 0% 处的颜色
                                                },
                                                {
                                                    offset: 0.2,
                                                    color: '#318fbc' // 0% 处的颜色
                                                },
                                                {
                                                    offset: 1,
                                                    color: '#39d6c4' // 100% 处的颜色
                                                }
                                            ],
                                            global: false // 缺省为 false
                                        }
                                    }
                                }
                            ]
                        })

                        console.log(this.chart)
                        clearTimeout(this.timer)

                        if (length < 100) {
                            /**
                             *  设置定期器自动滚动
                             */
                            this.autoMove()
                        }
                    },
                    /**
                     *  设置定期器自动滚动
                     */
                    autoMove() {
                        this.timer = setTimeout(() => {
                            if (this.start < this.maxStart - 1) {
                                this.start++
                            } else {
                                this.start = 0
                            }
                            this.chart.dispose()
                            this.draw()
                        }, this.delay)
                    },
                    mouseoverBack() {
                        clearTimeout(this.timer)
                    }
                }
            })
        </script>
    </body>
</html>
