<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        iframe {
            width: 460px;
            height: 310px;
        }
    </style>
</head>
<body>
    <iframe src="./bar1.html" frameborder="0"></iframe>
    <iframe src="./bar2.html" frameborder="0"></iframe>
    <iframe src="./bar3.html" frameborder="0"></iframe>
    <iframe src="./line1.html" frameborder="0"></iframe>
</body>
</html>