.calm-area {
    .el-cascader {
        display: block;
        &.el-cascader--mini .el-input--mini .el-input__inner {
            height: 28px !important;
        }
    }
}

.calm-BiuFormItem {
    .el-select {
        display: block;
    }
    .el-input {
        /** 解决 input相对于div实际有点向下偏移，
         * 导致.el-form-item__content设置了ovefflow后输入框的下边框看不到了
         */
        display: flex;
        width: 100%;
    }
    .el-date-editor--daterange.el-input,
    .el-date-editor--daterange.el-input__inner,
    .el-date-editor--timerange.el-input,
    .el-date-editor--timerange.el-input__inner,
    .el-range-editor.el-input__inner,
    .el-date-editor.el-input,
    .el-date-editor.el-input__inner .el-input .el-input__inner,
    .el-textarea .el-textarea__inner {
        width: 100%;
    }
}

.calm-treeSelect {
    display: flex;
    align-items: center;
    .el-checkbox__label,
    .el-checkbox {
        padding-left: 5px;
    }
    .el-select {
        flex: 1;
    }
    .el-select__input {
        display: none;
    }
}
.calm-treeSelectContainer {
    min-width: 250px !important;
    height: 270px;
    overflow: hidden;
    .el-select-dropdown__item {
        height: auto;
    }
    .el-select-dropdown__item.hover,
    .el-select-dropdown__item:hover {
        background-color: #fff;
    }
    .el-scrollbar {
        height: 100%;
    }
    .el-scrollbar__wrap {
        height: 100%;
        overflow: auto;
    }
}
