.calm-Upload {
    .calm-upload-btn {
        position: fixed;
        top: 0;
        bottom: 0;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 100px;
        color: #ffffff7d;
        font-size: 30px;
        cursor: pointer;
    }
    .calm-Prevbtn {
        @extend .calm-upload-btn;

        left: 0;
        background-image: linear-gradient(90deg, #00000059 0%, #00000038 100%);
    }
    .calm-Nextbtn {
        @extend .calm-upload-btn;

        right: 0;
        background-image: linear-gradient(90deg, #00000059 100%, #00000038 0%);
    }
    .el-upload-list__item-thumbnail {
        width: 110px;
        height: 110px;
        object-fit: cover;
    }
    .el-upload-list--picture-card .el-upload-list__item {
        width: 110px;
        height: 110px;
    }
    .el-upload--picture-card {
        width: 110px;
        height: 110px;
        line-height: 110px;
    }
    .hidden .el-upload {
        display: none;
    }
}
